.block__wrapper {
	.block__header-main {
		height: 32px;
		line-height: 32px;
		background: var(--bg-table-header);
		border-radius: 4px;
		overflow: hidden;
		color: var(--color-light);
		font-size: 1rem;
		margin-bottom: 8px;
		//width: calc(100% - 16px);

		display: flex;
		flex-direction: row;
		justify-content: space-between;
		padding: 0 8px;
	}

	.level-1 {
		padding-left: 20px;
	}

	.level-2 {
		padding-left: 40px;
	}
}
