<app-header
	[primaryTitle]="titles.primary"
	[secondaryTitle]="titles.secondary"
	[tertiaryTitle]="titles.tertiary"
	[buttons]="headerButtons"
	(leftHandle)="buttonsHandle($event)"
	(rightHandle)="buttonsHandle($event)"></app-header>
	<app-directions-bar></app-directions-bar>
	<app-picker></app-picker>

<ion-content>
	<ion-tabs #tabs>
		<ion-tab-bar slot="bottom" >
			<ion-tab-button tab="details">
				<ion-label>Детали</ion-label>
			</ion-tab-button>
			<ion-tab-button tab="rating">
				<ion-label>ДЦ</ion-label>
			</ion-tab-button>
			<ion-tab-button tab="influence">
				<ion-label>Влияюшие</ion-label>
			</ion-tab-button>
			<ion-tab-button tab="dynamics">
				<ion-label>Динамика</ion-label>
			</ion-tab-button>
			<ion-tab-button tab="calculation">
				<ion-label>Методика</ion-label>
			</ion-tab-button>
		</ion-tab-bar>
	</ion-tabs>
</ion-content>
