.period-wrapper {
	background: var(--bg-item-dark);
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	color: var(--color-dark);
	height: 40px;
	//text-transform: capitalize;

	app-custom-icon-button {
		height: 100%;
		width: 40px;
	}

	.period-title__wrapper {
		display: flex;
		flex-direction: row;
		align-items: center;
		font-size: 2rem;
		color: var(--block-item-title);
		width: 100%;
		height: 100%;
		justify-content: space-around;

		.wrapper {
			align-items: center;
			display: flex;
		}

		.period-title {
			font-size: 1.2rem;
			padding-left: 4px;
			cursor: pointer;
		}

	}
}


.button__wrapper {
	height: 100px;
}
