.block__wrapper {
	font-size: 1.4rem;
	padding: 8px;
	border-radius: 4px;
}
@media (prefers-color-scheme: dark) {
	.block__wrapper {
		background-color: var(--bg-item-dark);
		color: var(--color-dark);
	}
}

@media (prefers-color-scheme: light) {
	.block__wrapper {
		background-color: var(--bg-item-light);
		color: black;
	}
}
