.block__wrapper {
	font-size: 1.4rem;
	padding: 8px;
	border-radius: 4px;
	margin-bottom: 8px;

	.block__header {
		font-weight: bold;
		margin-bottom: 8px;

		display: flex;
		justify-content: space-between;
		align-items: baseline;

	}
}
@media (prefers-color-scheme: dark) {
	.block__wrapper {
		background-color: var(--bg-item-dark);
		color: var(--color-dark);
		box-shadow: var(--bs-item-dark);
	}
}

@media (prefers-color-scheme: light) {
	.block__wrapper {
		background-color: var(--bg-item-light);
		color: black;
		box-shadow: var(--bs-item-light);
	}
}
