.simple__item-rating {
	.item__rating-position, .item__rating-trend {
		height: 100%;
		text-align: center;
		width: 6%;
		font-weight: 300;
		font-size: 1.5rem;
		line-height: 1.8rem;
		align-self: center;
	}
}
