html {
	font-size: 12px;
	font-family: 'Roboto', sans-serif;

	.excellent, .good {
		background: var(--status-excellent);
	}
	.enough, .crit {
		background: var(--status-enough);
	}
	.danger, .bad {
		background: var(--status-danger);
	}
	.success, .norm {
		background: var(--status-success);
	}
}

.auth__content {
	--background: url(../assets/imgs/auth_bg.jpg) top center/cover no-repeat;

	.auth__wrapper {
		height: 100%;
		padding: 32px 0 16px 0;

		.auth__section {
			height: 100%;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: space-between;

			.header__wrapper {
				display: flex;
				flex-direction: column;
				align-items: center;

				.header__group {
					display: flex;
					flex-direction: column;
					align-items: center;
					margin-bottom: 8px;
					width: 80%;


					.header__logo {
						height: 10vw;
						width: 10vw;
						background: url(../assets/imgs/LOGO.svg) center no-repeat;
					}
				}

				.header__text {
					font-family: 'Roboto', sans-serif;
					font-style: normal;
					font-weight: 300;
					font-size: 4.835vw; //20px
					line-height: 5vw;
					/* identical to box height, or 120% */

					text-align: center;

					color: #000000;
					margin-top: 8px;

					&.strong {
						font-weight: 500;
						font-size: 5.8vw;
						line-height: 5.8vw;
					}

					&.lite {
						font-weight: 300;
						font-size: 3.5vw;
						line-height: 4vw;
						font-style: italic;
					}
				}
			}

			.form__wrapper {
				width: 70vw;

				.phone-form {
					display: flex;
					flex-direction: column;
					align-items: center;

					.input__wrapper {
						position: relative;
						margin-bottom: 16px;
						display: flex;
						flex-direction: row;
						width: 100%;

						.input__icon {
							min-height: 100%;
							display: block;
							padding: 14px;
							border-right: 1px solid #A7B8BF;
							font-weight: 300;
							font-size: 20px;
							line-height: 24px;
							text-align: center;
							color: #000000;
							background: rgba(255, 255, 255, 0.85);
							box-shadow: 0 15px 20px -10px rgba(25, 35, 45, .25);
							border-top-left-radius: 8px;
							border-bottom-left-radius: 8px;
						}

						.input-phone, .input-login, .input-password {
							color: black;

							&.align-center {
								text-align: center;
							}

							background: rgba(255, 255, 255, 0.85);
							box-shadow: 0 15px 20px -10px rgba(25, 35, 45, 0.25);

							border-top-right-radius: 8px;
							border-bottom-right-radius: 8px;

							width: 100%;
							border: none;
							font-size: 20px;
							padding: 14px;

							&.no-icon {
								border-radius: 8px;
							}
						}

						.input-login, .input-password {
							text-align: center;
						}

					}


					.auth__button {
						--background: #37AFF9;
						//opacity: 0.25;
						box-shadow: 0 2px 4px rgba(0, 0, 0, 0.102);
						border-radius: 8px;
						width: 100%;

						font-family: 'Roboto', sans-serif;
						font-style: normal;
						font-weight: 400;
						font-size: 15px;
						//font-size: calc( (100vw - 30rem)/(80 - 30) * (1.5 - 1) + 1rem);
						line-height: 18px;

						margin-bottom: 1rem;
					}
				}
			}

			.version__block {
				font-family: 'Roboto', sans-serif;
				font-style: normal;
				font-weight: 400;
				font-size: 13px;
				line-height: 15px;
				text-align: center;
				opacity: 0.5;
			}
		}


	}
}


// LIST ITEM STYLES
.list__item-wrapper {
	cursor: pointer;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	border-radius: 8px;
	min-height: 77px;
	width: 100%;
	margin-bottom: 8px;
	//padding-left: 8px;

	.item__info {
		flex: 1;
		padding: 8px;

		justify-content: space-around;
		display: flex;
		align-items: start;
		flex-direction: column;
		width: 100%;

		.info__title {
			font-weight: 300;
			font-size: 1.5rem;
			line-height: 1.8rem;
			padding-bottom: 8px;
		}

		.info__title, .info__details {
			width: 100%;
		}

		.info__details {
			display: flex;
			flex-direction: row;
			justify-content: space-between;

			&.f-column {
				flex-direction: column;
				.details__info-primary {
					margin-bottom: 4px;
				}
			}
			.details__info {
				font-size: 1.15rem;
				line-height: 1.4rem;
				font-weight: 300;

				.sum {
					font-weight: 700;
					padding: 0 4px;
				}
			}

			.details__percent {
				color: white;
				display: block;
				width: 50px;
				padding: 1px 4px;
				border-radius: 4px;
				font-weight: 500;
				text-align: center;
				white-space: nowrap;
				overflow: hidden;
				font-size: 1.15rem;
				line-height: 1.2rem;
			}

			.rr__wrapper {
				display: flex;
				flex-direction: row;
				gap: 8px;
				align-items: baseline;
			}
		}

		.list__item-title {
			font-weight: 300;
			font-size: 1.5rem;
			line-height: 1.8rem;
			//padding-bottom: 8px;
		}
	}

	.item__value-wrapper {
		display: flex;
		flex-direction: column;
		flex: 0 0 110px;
		max-width: 110px;
		align-items: center;
		padding: 2px 5px 5px;
		border-radius: 8px;
		justify-content: center;
		background-color: var(--bg-item-light);
		color: var(--color-light);

		.value {
			font-weight: 700;
			font-size: 1.5rem;
			line-height: 1.8rem;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}
	}
}

@media (prefers-color-scheme: dark) {
	.list__item-wrapper {
		background-color: var(--bg-item-dark);
		color: var(--color-dark);
		box-shadow: var(--bs-item-dark);
	}
}

@media (prefers-color-scheme: light) {
	.list__item-wrapper {
		background-color: var(--bg-item-light);
		color: var(--color-light);
		box-shadow: var(--bs-item-light);
	}
}
