.dashboard {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	height: 100%;
	padding: 8px;
	background: var(--bg-dark);

	.dashboard__item {
		width: 50%;
		min-height: calc(100% / 5);
		max-height: calc(100% / 5);
		//height: calc(100% / 5);
	}
}

@media (prefers-color-scheme: light) {
	.dashboard {
		background: var(--bg-light);
	}
}
