.button__wrapper {
	align-self: center;
	margin: 0;
	//padding: 4px 2px;
	font-size: .6em;
	--padding-start: 1em;
	--padding-end: 1em;
	min-height: 100%;
	--color: var(--color-dark);

	&.bad {
		background: transparent;
		--color: var(--status-danger);
	}
}

@media (prefers-color-scheme: light) {
	.button__wrapper {
		--color: var(--color-light);
	}
}
