ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
li {
	margin: 0;
	padding: 0;
}

.section__title {
	text-align: center;
	font-weight: 400;
	font-size: 1.2rem;
	line-height: 1.3rem;
}

.content {
	padding: 16px 8px;
	&__list {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__item {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		width: 30vw;
		height: 30vw;
		z-index: 2;
		border-width: 2px;
		border-style: solid;
		box-sizing: border-box;
		border-radius: 50%;
		box-shadow: 0px 8px 16px -4px rgba(0, 0, 0, 0.25);
		font-size: 1.1rem;
		line-height: 1.3rem;
		& span {
			padding-top: 8px;
			font-weight: 500;
			font-size: 24px;
			line-height: 24px;
		}
	}
}
.legend {
	padding: 16px 8px 8px;
	border-top: 1px solid #546E7A;
}

@media (prefers-color-scheme: light) {
		.content__item {
			&_success {
				border-color: var(--status-success);
				background: transparent;
				& span {
					color: var(--status-success);
				}
			}
			&_danger {
				border-color: var(--status-danger);
				background: transparent;
				& span {
					color: var(--status-danger);
				}
			}
			&_enough {
				border-color: var(--status-enough);
				background: transparent;
				& span {
					color: var(--status-enough);
				}
			}
			&_average {
				border-color: var(--status-enough);
				background: transparent;
				& span {
					color: var(--status-enough);
				}
			}
		}
}

@media (prefers-color-scheme: dark) {
	.content__item {
		&_success {
			border-color: var(--status-success);
			background: var(--status-success-darken);
			& span {
				color: var(--status-success);
			}
		}
		&_danger {
			border-color: var(--status-danger);
			background: var(--status-danger-darken);
			& span {
				color: var(--status-danger);
			}
		}
		&_enough {
			border-color: var(--status-enough);
			background: var(--status-enough-darken);
			& span {
				color: var(--status-enough);
			}
		}
		&_average {
			border-color: var(--status-enough);
			background: var(--status-enough-darken);
			& span {
				color: var(--status-enough);
			}
		}
	}
}
