.accordion__item-wrapper {
	cursor: pointer;
	&.active {
		.item__header {
			position: sticky;
			top: 0;
			z-index: 2;
			background: var(--bg-table-header);
			margin-bottom: 0;
		}
		margin-bottom: 8px;
	}

	.item__content-wrapper {
		margin-bottom: 8px;
	}

	.item__header {
		font-weight: bold;
		font-size: 1.3rem;
		box-shadow: var(--bs-item-dark);

		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0 8px;
		margin-bottom: 8px;
		min-height: 50px;
		background: var(--bg-item-dark);
		width: 100%;
		border-radius: 4px;
		color: var(--color-dark);
		overflow: auto;
		resize: none;
	}
	:host-context(.item__content) {
		.item__header {
			font-size: 1.2rem;
			background: #536370;
			border-color: #546E7A;
		}
	}
	.accordion__item-content {
		background-color: var(--bg-item-dark);
		color: var(--color-dark);
		border-radius: 4px;

		display: flex;
		flex-direction: column;

		&.content__type-data {
			.content__wrapper {
				.item__content {
					width: 100%;
					//padding: 8px;
					gap: 10px;
					.content__element {
						display: flex;

						.element__title, .element__value {
							width: 50%;
							display: inline-block;
						}

						.element__value {
							font-weight: 400;
						}

						.element__empty {
							color: var(--status-danger);
						}

						.file__icon {
							align-self: center;
							margin-right: 8px;
							position: relative;
							font-size: 4rem;

							&:after {
								font-size: 1rem;
								border-radius: 4px;
								position: absolute;
								bottom: 10px;
								right: 0;
								text-align: center;
								width: 30px;
							}

							&.pdf:after {
								content: 'pdf';
								background: #CD2626;
							}

							&.doc:after, &.docx:after {
								content: 'doc';
								background: #102F9C;
							}

							&.xlsx:after, &.xls:after {
								content: 'xls';
								background: #2D8C00;
							}

							&.jpeg:after, &.jpg:after {
								content: 'jpg';
								background: #FF6B3D;
							}
						}

						.file__details {
							display: flex;
							flex-direction: column;

							.file__title {
								color: var(--ion-color-primary);
								text-decoration: underline;
							}
						}
					}
				}
			}
		}

		.element__profile-status {
			margin: 0 8px 8px 8px;
			border-radius: 4px;
			height: 16px;
			//width: 100%;
			background: var(--bg-item-gray);
			font-size: 1rem;
			line-height: 12px;
			font-weight: 300;
			color: var(--color-dark);
			text-align: center;
		}

		.content__wrapper {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			gap: 8px;

			.item__content {
				//padding: 8px 0 0 8px;
				display: flex;
				flex-direction: column;
				gap: 4px;
				background: #42515D;
				flex: 1;

				.content__element {

					line-height: 16px;
					font-size: 1.2rem;
					font-weight: 300;

					.element__value {
						font-weight: bold;

						&.element__status {
							background: var(--status-success);
							color: var(--color-dark);
							padding: 4px;
							border-radius: 4px;
							margin: 4px 0 8px;
							display: inline-block;
							line-height: 18px;
						}
					}
				}
			}

			.item__thumb {
				width: 100px;
				height: 100px;
				flex: 0 0 100px;
				img {
					flex-grow: 0;
					flex-shrink: 0;
					display: block;
					width: 100%;
					height: 100%;
					border: 4px solid #ffffff;
					border-radius: 4px;
					//background: #222F3B url(../assets/imgs/bi_loader2.gif) center no-repeat;
					background-size: 70px;
					//background-position: center;
					//background-repeat: no-repeat;
					object-fit: cover;
				}
			}
		}


	}

	.accordion__addition {
		display: flex;
		flex-direction: row;
		justify-content: start;
		gap: 8px;
		align-items: center;
		background: var(--bg-item-gray2);
		border-radius: 0 0 8px 8px;
		padding: 8px;
		margin: 0 16px;
	}
}

@media (prefers-color-scheme: light) {
	.accordion__item-wrapper {
		.item__header{
			box-shadow: var(--bs-item-light);
		}
		.accordion__item-content {
			background-color: var(--bg-item-light);
			color: var(--color-light);
		}
	}
}
