<ion-header>

	<ion-toolbar mode="ios" class="header__wrapper">
		<ion-buttons slot="secondary" *ngIf="buttons && buttons.left">
			<app-custom-icon-button
				*ngFor="let button of buttons.left"
				[name]="button.name"
				[buttonClass]="button.cssClass"
				size="24px"
				(clickBtn)="leftHandle.emit($event)"
			></app-custom-icon-button>
		</ion-buttons>
		<ion-buttons slot="primary" *ngIf="buttons && buttons.right">
			<app-custom-icon-button
				*ngFor="let button of buttons.right"
				[name]="button.name"
				[buttonClass]="button.cssClass"
				size="24px"
				(clickBtn)="rightHandle.emit(button.name)"
			></app-custom-icon-button>
		</ion-buttons>
		<ion-title class="header__title">
			<div class="header__title-wrapper">
				<span class="primary">{{primaryTitle}}</span>
				<span class="secondary" *ngIf="secondaryTitle">{{secondaryTitle}}</span>
				<span class="tertiary" *ngIf="tertiaryTitle">{{tertiaryTitle}}</span>
			</div>

		</ion-title>
	</ion-toolbar>
</ion-header>
