<app-header
	[primaryTitle]="titles.primary"
	[secondaryTitle]="titles.secondary"
	[tertiaryTitle]="titles.tertiary"
	[buttons]="initializeHeaderButtons()"
	(leftHandle)="buttonsHandle($event)"
	(rightHandle)="buttonsHandle($event)"></app-header>
<app-directions-bar></app-directions-bar>
<app-picker></app-picker>
<ion-content>
	<ion-infinite-scroll *ngIf="(indicatorService.indicators$ | async) as indicators">
		<ng-container *ngIf="indicators | directionFilter : (currentDirection$ | async) | runrate : (crisisService.filter | async) as list">
			<app-ind-list
				[list]="list" (selectItem)="showItemDetails($event)"></app-ind-list>
		</ng-container>
	</ion-infinite-scroll>

</ion-content>
