/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

.sb-show-main.sb-main-padded, .sb-show-main.sb-main-fullscreen {
	overflow-y: auto;
	position: static;
}

.item__icon {
	//height: 40px;
	//width: 40px;
	svg {
		//width: 60px;
		//height: 36px;
		//padding-top: 4px;

		path {
			fill: white;
		}
	}
}

ion-picker.picker__wrapper {
	--height: 55%!important;
	--background: var(--bg-item-dark);

	.button__wrapper {
		height: 100px;
	}
}

.toast__error {
	--background: var(--status-danger);
	color: var(--color-light);
}

.toast__info {
	--background: var(--ion-color-primary);
	color: var(--color-light);
}

.toast__success {
	--background: var(--status-success);
}

ion-content {
	--background: var(--bg-dark);
}

@media (prefers-color-scheme: light) {
	ion-content {
		--background: var(--bg-light);
	}
}

.formula_op, .formula_ind {
	float: left;
	font-size: 1rem;
	height: 24px;
	line-height: 24px;
	margin-right: 8px;
	margin-bottom: 8px;
	padding: 0 8px;
}

.formula_op {
	font-size: 1.2rem;
	height: 30px;
	line-height: 30px;
	background: #2C8EFF;
}
.formula_ind {
	font-size: 1.2rem;
	height: 30px;
	line-height: 30px;
	background: #0D8E11;
}

.content__wrapper {
	padding: 8px;
}

.height100 {
	height: 100%;
}
