.ind-list__item {
	cursor: pointer;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	border-radius: 8px;
	min-height: 77px;
	width: 100%;
	margin-bottom: 8px;

	.item__info {
		flex: 1;
		padding: 8px 3px 8px 6px;
	}

	.item__sum {
		&.test {
			background-color: var(--bg-item-test);
		}
	}

	.button__wrapper {
		align-self: center;
		min-height: 77px;
		margin: 0;
		padding: 4px 2px;
		min-width: .9em;
	}
}

@media (prefers-color-scheme: dark) {
	.ind-list__item {
		background-color: var(--bg-item-dark);
		color: white;
		box-shadow: var(--bs-item-dark);
	}
}

@media (prefers-color-scheme: light) {
	.ind-list__item {
		background-color: var(--bg-item-light);
		color: black;
		box-shadow: var(--bs-item-light);
	}
}
