<div class="ind-list__item list__item-wrapper" [ngClass]="item.mode">
	<div class="item__info" (click)="onSelectItem(item)">
		<div class="info__title">{{item.title}}</div>
		<div class="info__details">
			<div class="details__info">
				<span>План:</span>
				<span class="sum">{{item.plan.viewSum}}</span>
				<span class="units">{{item.units}}</span>
			</div>
			<div class="details__percent" [ngClass]="item.plan.completeStatus" *ngIf="!crisisService.value; else runRate">
				{{item.plan.complete}}%
			</div>
			<ng-template #runRate>
				<div class="rr__wrapper">
					RR
					<div class="details__percent" [ngClass]="item.plan.completeStatus">
						{{item.runRate}}%
					</div>
				</div>
			</ng-template>
		</div>
	</div>
	<div class="item__sum item__value-wrapper" [ngClass]="item.test ? 'test' : null">
		<span class="value">{{item.fact.viewSum}}</span>
		<span class="units">{{item.units}}</span>
	</div>
	<app-custom-icon-button *ngIf="item.childs && item.childs.length > 0"
		[id]="item.id"
		[name]="!item.isOpen ? 'arrow-down' : 'arrow-up'"
		(clickBtn)="onItemToggle(item.id)"
	></app-custom-icon-button>
</div>
