<div class="indicator-details-thead-rating">
	<table class="table__header">
		<thead>
		<tr>
			<th></th>
			<th [ngClass]="(ratingSortField !== 'orgName') ? 'indiTDOrg' : ( ratingSortOrder === 'desc' ) ? 'indiTDOrg fieldSortDesc' : 'indiTDOrg fieldSortAsc'"
				(click)='changeSortDirection("orgName")'
			>
				Станция
			</th>
			<th [ngClass]="(ratingSortField !== 'plan') ? 'indiTDtbl' : ( ratingSortOrder === 'desc' ) ? 'indiTDtbl fieldSortDesc' : 'indiTDtbl fieldSortAsc'"
				(click)='changeSortDirection("plan")'
			>
				План
			</th>
			<th [ngClass]="(ratingSortField !== 'fakt') ? 'indiTDtbl' : ( ratingSortOrder === 'desc' ) ? 'indiTDtbl fieldSortDesc' : 'indiTDtbl fieldSortAsc'"
				(click)='changeSortDirection("fakt")'
			>
				Факт
			</th>
			<th *ngIf="(crisisService.filter | async) === false"
				[ngClass]="(ratingSortField !== 'pct') ? 'indiTDtbl' : ( ratingSortOrder === 'desc' ) ? 'indiTDtbl fieldSortDesc' : 'indiTDtbl fieldSortAsc'"
				(click)='changeSortDirection("pct")'
			>
				%вып.<span class="end-element"></span>
			</th>
			<th *ngIf="crisisService.filter | async"
				[ngClass]="(ratingSortField !== 'runrate') ? 'indiTDtbl' : ( ratingSortOrder === 'desc' ) ? 'indiTDtbl fieldSortDesc' : 'indiTDtbl fieldSortAsc'"
				(click)='changeSortDirection("runrate")'
			>
				%RR<span class="end-element"></span>
			</th>
		</tr>
		</thead>
	</table>

	<table class="tblIndResult" *ngIf="ratingList as list">
		<tr class="indiTR6"
			*ngFor="let item of list | sortIndRating : ratingSortOrder : ratingSortField; let idx = index"
		>
			<ng-container *ngIf="!item.total">
				<app-table-row class="table__row" [index]="idx" [item]="item" [org]="org" ></app-table-row>
			</ng-container>
			<ng-container *ngIf="item.total">
				<td></td>
				<td class="indiTDOrg"><strong>{{item.orgName}}</strong></td>
				<td class="indiTDtbl"><strong>{{tableService.replaceNBSP(item.plan.formatted)}}</strong></td>
				<td class="indiTDtbl"><strong>{{tableService.replaceNBSP(item.fakt.formatted)}}</strong></td>
				<td class="indiTDtbl indiTDtbl_padding"><strong>{{item.pct}}</strong></td>
			</ng-container>
		</tr>
	</table>
</div>

